extends layout

block content
  .container.main
    .contatiner.mission
      .row
        .col-md-4.col-sm-6.col-xs-12
          ul
            li
              a(href="")
              | Our Mission
        .col-md-4.col-sm-6.col-xs-12
          .hero.row.text-center
            img(src="http://livegoodinc.com/assets/m1-85aeba13103d439957cec75397b131da.jpg")
    .container
      .row
        .col-md-4.col-md-offset-2
          div.tile
        .col-md-6
          div
          p We all want to live a good life — one in which we contribute something positive to the world. But we also yearn for "the good life," a state in which our own mental and physical health is in balance.

